.banner-outer-wrapper {
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.each-banner-wrapper {
  align-self: center;
  height: 325px;
  min-height: 325px;
  max-height: 325px;
  width: calc(50% - 60px);
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  border: 0.5px solid rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(98, 98, 103, 0.4);
  margin-left: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.each-banner-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid rgb(233, 233, 233);
  height: 60px;
  padding: 0px 15px;
}

.each-banner-content-wrapper {
  width: 100%;
  flex: 1;
  padding: 15px;
  display: flex;
}

.each-banner-content-data-wrapper, .each-banner-content-preview-wrapper {
  flex: 1;
  width: 50%;
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
}

.banner-pie-chart-label-wrapper {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-pie-chart-each-color-wrapper {
  display: flex;
  align-items: center;
  margin: 0px 4px;
}
.banner-pie-chart-each-color {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.banner-pie-chart-each-label {
  font-weight: 600;
  font-size: 12px;
  color: rgb(98, 98, 103);
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.banner-pie-chart-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-pie-chart-color {
  width: 125px;
  height: 125px;
  border-radius: 62.5px;
  cursor: pointer;
}
.banner-pie-chart-color-default {
  background: conic-gradient(at center, rgb(186, 183, 178) 0% 20%, rgb(233, 233, 233) 20% 60%, rgb(98, 98, 103) 60% 100%);
  cursor: default !important;
}
.banner-pie-chart-white {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: -112.5px;
  background-color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-pie-chart-white span {
  cursor: default;
}

.each-banner-content-info-wrapper {
  flex: 1;
  width: 50%;
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 10px;
  border-left: 1px solid rgb(233, 233, 233);
}
.each-banner-content-info-wrapper {
  align-items: initial !important;
}

.each-banner-buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  width: 100%;
  margin-top: auto;
}
.each-banner-button {
  height: 40px;
  min-height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.each-banner-button i {
  margin-right: 7px;
  font-size: 13px;
}
.each-banner-button span {
  font-size: 12px;
  font-weight: 700;
}

.each-banner-preview {
  width: calc(min(95%, 200px));
  height: 275px;
  align-self: center;
  background-color: rgb(254, 254, 254);
  border: 0.5px solid rgba(242, 242, 242, 0.7);
  box-shadow: 0px 0px 38.72px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.each-banner-preview-title {
  font-weight: 600;
  color: rgb(98, 98, 103);
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 5px;
}
.each-banner-preview-image-wrapper {
  width: 125px;
  height: fit-content;
  max-height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.each-banner-preview-image-wrapper img {
  width: 100%;
  height: auto;
}
.each-banner-preview-text {
  font-weight: 400;
  font-size: 11px;
  color: rgb(98, 98, 103);
  line-height: 20px;
  margin-bottom: 5px;
}
.each-banner-preview-button {
  align-self: center;
  font-weight: 800;
  color: rgb(254, 254, 254);
  font-size: 12px;
  padding: 0px 20px;
  height: 30px;
  min-height: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(98, 98, 103, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 5px;
}
