.general-search-input {
  width: calc(min(250px, 100%));
  height: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgb(98, 98, 103);
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(98, 98, 103);
  padding-bottom: 2px;
  margin-bottom: 15px;
}
.general-search-input::placeholder {
  color: rgba(98, 98, 103, 0.7);
}

.general-input-title {
  font-size: 14px;
  font-weight: 700;
  color: rgb(35, 35, 50);
  margin-bottom: 5px;
  cursor: default;
}

.general-input-text {
  font-size: 13px;
  font-weight: 400;
  color: rgb(98, 98, 103);
  margin-bottom: 10px;
  cursor: default;
}

.general-input {
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(98, 98, 103, 0.3);
  outline: none;
  padding: 10px 15px;
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 300px;
  min-width: 300px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(98, 98, 103);
  border-radius: 5px;
}
.general-input:focus {
  border-color: rgb(140, 212, 224);
}
.general-input::placeholder {
  color: rgb(98, 98, 103, 0.35);
}

.general-input-not-allowed {
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(98, 98, 103, 0.3);
  padding: 10px 15px;
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 300px;
  min-width: 300px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(98, 98, 103);
  border-radius: 5px;
  cursor: not-allowed;
}

.general-select-input {
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(98, 98, 103, 0.3);
  background-color: rgb(254, 254, 254);
  outline: none;
  height: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 300px;
  min-width: 300px;
  border-radius: 5px;
  z-index: 2;
}
.general-select-input span {
  font-size: 13px;
  font-weight: 600;
  color: rgb(98, 98, 103, 0.35);
  width: calc(100% - 2px);
  height: 38px;
  min-height: 38px;
  padding: 10px 15px;
  background-color: rgb(254, 254, 254);
  z-index: 3;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.general-select-input input {
  display: none;
}
.general-select-input-options {
  width: calc(100% + 2px);
  margin-left: -1px;
  height: fit-content;
  min-height: fit-content;
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(98, 98, 103, 0.3);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
}
.each-general-select-input-option {
  font-size: 13px;
  font-weight: 600;
  color: rgb(98, 98, 103) !important;
  height: 40px;
  min-height: 40px;
  width: 100%;
  margin-left: 1px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.each-general-select-input-option:hover {
  background-color: rgb(248, 248, 248);
}

.general-old-input {
  border: 1px solid rgb(186, 183, 178);
  outline: none;
  padding: 0px 20px;
  height: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  width: calc(max(250px, 100%));
  font-size: 14px;
  font-weight: 600;
  color: rgb(98, 98, 103);
  margin-bottom: 30px;
}
.general-old-input:focus {
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
  border-color: rgb(140, 212, 224);
}
.general-old-input::placeholder {
  color: rgb(167, 167, 168);
  font-weight: 600;
}
.general-required-input::after {
  content: "*";
  color: rgb(200, 0, 0);
  font-size: 16px;
  margin-left: 1px;
  font-weight: 600;
}

.general-image-input-outer-wrapper {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
}
.general-choose-image-input-text {
  height: 36px;
  min-height: 36px;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid rgb(186, 183, 178);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: rgb(167, 167, 168);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.general-image-input-wrapper {
  height: 36px;
  min-height: 36px;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 30px;
  border: 1px solid rgb(186, 183, 178);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.general-image-input-wrapper i {
  color: rgba(167, 167, 168, 0.8);
  font-size: 14px;
  cursor: pointer;
}
.general-image-input-wrapper i:hover {
  color: rgb(167, 167, 160);
}
.general-image-input-wrapper-image {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.general-image-input-wrapper-image img {
  height: 100%;
}

.general-checked-input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  margin-bottom: 5px;
}
.general-checked-input-value {
  display: none;
}
.each-general-checked-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.each-general-checked-input-selected div {
  background-color: rgb(140, 212, 224) !important;
  border: none !important;
}
.each-general-checked-input div {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(186, 183, 178);
  border-radius: 2px;
  margin-right: 5px;
  background-color: rgb(254, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
}
.each-general-checked-input div i {
  color: rgb(254, 254, 254);
  font-size: 10px;
}
.each-general-checked-input span {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgb(98, 98, 103);
}
