.general-title {
  font-weight: 700;
  color: rgb(35, 35, 50);
  font-size: 15px;
  margin-bottom: 5px;
  cursor: default;
}

.general-subtitle {
  font-weight: 700;
  color: rgb(35, 35, 50);
  font-size: 14px;
  cursor: default;
}

.general-text {
  font-weight: 400;
  font-size: 13px;
  color: rgb(98, 98, 103);
  cursor: default;
  display: block;
}

.general-text-overflow {
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

.general-text-line {
  width: 100%;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
}
